<template>
  <GridLayout rows="*" columns="*" backgroundColor="lightgrey" height="350">
    <CollectionView
        orientation="horizontal"
        :items="items"
        class="images-wrapper"
        colWidth="250"
        row="0" col="0"
        v-if="items && items.length > 0"
        ref="image-selector"
    >
      <v-template>
        <SingleImageWrapper :item="item" @deleteImage="deleteImage"/>
      </v-template>
    </CollectionView>
  </GridLayout>
</template>
<!-- try to set fixed width on template?-->
<script>
import SingleImageWrapper from "~/components/ImageSelection/SingleImageWrapper";

export default {
  components: {SingleImageWrapper},
  props: ['items', 'currentLength'],
  name: "ImageSelection",
  data() {
    return {
      camera: false
    }
  },
  methods: {
    refresh() {
      this.$refs["image-selector"].refresh()
    },
    deleteImage(index) {
      this.$emit('deleteImage', index)
    },
  },
  computed: {
  }
}
</script>

<style>

</style>
