<template>
  <GridLayout rows="350, 50">
    <NSImg :src="item" decodedHeight="350" decodedWidth="250" resize="100, 100" stretch="aspectFit" class="document-image" row="0"/>
    <!--<Label :text="item" row="0" rowSpan="2"/>-->
  </GridLayout>
</template>

<script>
export default {
  props: ['item'],
  name: "SingleImageWrapper",
  methods: {
    deleteImage() {
      this.$emit('deleteImage', this.index)
    }
  },
  computed: {
  }
}
</script>

<style scoped>

</style>
