<template>
  <SlotDialog @close="close">
    <template v-slot:default>
      <CameraView ref="camera-view" row="2" @dataChange="dataChange" @unloaded="unloadedCameraView" v-if="camView"/>
    </template>
  </SlotDialog>
</template>

<script>
import SlotDialog from "~/components/SlotDialog";
import CameraView from "~/components/CameraView";
export default {
  name: "CameraModal",
  props: ['row'],
  components: {CameraView, SlotDialog},
  data() {
    return {
      data: null,
      camView: true
    }
  },
  methods: {
    unloadedCameraView() {

    },
    dataChange(data) {
      this.data = data
    },
    close() {
      this.nativeView.notify({
        eventName: 'dataChanged',
        data: this.data
      })
    },
  }
}
</script>

<style>

</style>
