<template>
  <GridLayout rows="*, 30, 30" columns="*" ref="camera-wrapper" class="camera-wrapper" @layoutChanged="applySizing">
    <!--
    <CameraPlus row="0" rowSpan="2" col="0"
                saveToGallery="false"
                showCaptureIcon="false"
                showGalleryIcon="false"
                showToggleIcon="false"
                showFlashIcon="false"
                debug="false"
                enableVideo="false"
                confirmVideo="false"
                defaultCamera="rear"
                keepAspectRatio="false"
                confirmPhotos="false"
                confirmRetakeText="Verwerfen"
                confirmSaveText="Speichern"
                @photoCapturedEvent="photoCapturedEvent($event)"
                @imagesSelectedEvent="imagesSelectedEvent($event)"
                @errorEvent="onCameraError"
                @unloaded="unloaded"
                ref="camera"
                :height="height"
    >
    </CameraPlus>
    -->
    <Button row="0" rowSpan="2" text="clear" @tap="clear" verticalAlignment="top"/>
    <GridLayout row="1" rowSpan="2" col="0" colSpan="3" columns="*, *, 60, *, *" class="footer-wrapper">
      <HTMLLabel text="image"
                 class="mdi-outlined-18px"
                 col="1"
                 @tap="openGallery"
      />
      <HTMLLabel :text="currentAmount"
                 class="camera"
                 col="2"
                 @tap="triggerCapture"

      />
    </GridLayout>
  </GridLayout>
</template>

<script>
const imagePicker = require("@nativescript/imagepicker");
const imageSourceModule = require("@nativescript/core/image-source")
const imageAssetModule = require('@nativescript/core/image-asset')
import {Utils, isIOS, ImageSource} from "@nativescript/core";
const imageWorker = new Worker('~/workers/image.worker.js');
export default {
  props: ['embedded', 'events'],
  name: "CameraView",
  data() {
    return {
      height: 0,
      data: [],
      camera: null,
      platform: isIOS ? 'ios' : 'android'
    }
  },
  watch: {
    data: {
      handler(state) {
        // this.$emit('dataChange', this.data)
      },
    }
  },
  mounted() {
    imageWorker.onmessage = (msg) => {
      // this.data.push(msg.data)
    }
  },
  methods: {
    clear() {
      this.data = null
    },
    createFileName() {
      let isodate = new Date().toISOString()
      isodate = isodate.replace(/-/g, '_')
      isodate = isodate.replace(/:/g, '_')
      isodate = isodate.split('T')
      let date = isodate[0]
      let time = isodate[1].substring(0, isodate[1].indexOf('.'))
      let fileName = date+'_'+time
      return fileName
    },
    unloaded() {
      this.$emit('unloaded')
    },
    triggerCapture() {
      this.$refs.camera.nativeView.takePicture()
    },
    openGallery() {
      if(isIOS) {
        let context = imagePicker.create({mode: 'multiple'})
        context.authorize()
            .then(() => {
              Utils.executeOnUIThread(() => {
                context.present()
                    .then((selection) => {
                      let index = 1
                      let fileName = this.createFileName()
                      selection.forEach(selected => {
                        if(!this.data) {
                          this.data = []
                        }
                        let img = ImageCorrection.shared.adjustImageWithAsset(selected[this.platform])
                        this.data.push(img)
                        /*
                        let id = ConcurrentListManager.shared.setObject(selected[this.platform])
                        imageWorker.postMessage({id: id, fileName: index === 1 ? fileName : fileName+'_'+index})
                         */
                        index++
                      });
                      this.$emit('dataChange', this.data)
                    }).catch(function (e) {
                  console.log(e)
                });
              })
            })
      } else {
        let context = imagePicker.create({mode: 'multiple'})
        context.authorize()
        .then(() => {
          Utils.executeOnUIThread(() => {
            context.present()
                .then((selection) => {
                  selection.forEach(selected => {
                    let id = workerSharingManager.setObject(selected.android)
                    imageWorker.postMessage(id)
                  });
                }).catch(function (e) {
              console.log(e)
            });
          })
        })
      }
    },
    photoCapturedEvent(e) {
      imageSourceModule.ImageSource.fromAsset(e.data).then(imageSource => {
        this.data.push(imageSource)
      })
    },
    imagesSelectedEvent(e) {
      let fileName = this.createFileName()
      let index = 1
      e.data.forEach(el => {
        let id = workerSharingManager.setObject(isIOS ? el._nativeImage : el._android)
        imageWorker.postMessage({id: id, fileName: index === 1 ? fileName : fileName+'_'+index})
        index++
      })
    },
    onCameraError() {

    },
    applySizing() {
      if(this.$refs["camera-wrapper"]) {
        this.height = Utils.layout.toDeviceIndependentPixels(this.$refs["camera-wrapper"].nativeView.getMeasuredHeight())
      }
    }
  },
  computed: {
    currentAmount() {
      if(!this.data) {
        return 0
      }
      return this.data.length
    },
    rows() {
      if(this.embedded) {
        return '*'
      }
      return 'auto, 30, 30'
    },
  }
}
</script>

<style scoped>

</style>
