<template>
  <GridLayout rows="40, 40, 40, 40, 40, *, 50">
    <Button text="open" @tap="openUpload" row="0"></Button>
    <Button row="1" text="Navigate" @tap="navigateTo" verticalAlignment="center"/>
    <Button row="2" text="clear" @tap="clear" verticalAlignment="center"/>
    <ImageSelection :items="displayedImages" :current-length="currentLength" row="5" @deleteImage="deleteImage" ref="image-selection"/>
  </GridLayout>
</template>

<script>
import SamplePage from "~/components/SamplePage";
import {CoreTypes, getRootLayout, ImageSource} from "@nativescript/core";
import Vue from "nativescript-vue";
import {screen} from "@nativescript/core/platform";
export const EASE_OUT_ANIMATION = CoreTypes.AnimationCurve.easeOut

import SlotDialog from "~/components/SlotDialog";
import ImageSelection from "~/components/ImageSelection/ImageSelection";
import {ObservableArray} from "@nativescript/core/data/observable-array";
import CameraModal from "~/components/CameraModal";

export default {
  name: "DocumentManagement",
  components: {ImageSelection, SlotDialog},
  data() {
    return {
      currentLength: null,
      data: [],
      backupData: [],
      images: new ObservableArray(),
    }
  },
  computed: {
    displayedImages: {
      get() {
        return this.images
      },
      set(newValue) {
        if(newValue.type === 'add') {
          let index = 0
          newValue.data.forEach(el => {
            if(this.images.indexOf(el) === -1) {
              this.images.push('data:image/jpeg;base64,'+el)
              index++
            }
          })
        } else {
          if(this.images.length === 1) {
            this.images = new ObservableArray()
          } else {
            this.images.splice(newValue.id, 1)
          }
          this.currentLength = this.images.length
        }
      }
    }
  },
  methods: {
    clear() {
      ConcurrentListManager.shared.removeAllObjects()
      this.images = []
    },
    navigateTo() {
      this.$navigateTo(SamplePage, {
        clearHistory: true
      })
    },
    deleteImage(data) {
      this.displayedImages = {id: data, type: 'remove'}
    },
    openUpload() {
      let view = new Vue({
        render: h => h
        (
          CameraModal
        )
      }).$mount().$el.nativeView
      getRootLayout()
      .open(view, {
        shadeCover: {
          color: '#000',
          opacity: 0.35,
          tapToClose: true
        },
        animation: {
          enterFrom: {
            translateY: screen.mainScreen.heightDIPs,
            curve: EASE_OUT_ANIMATION,
            duration: 300
          },
          exitTo: {
            translateY: screen.mainScreen.heightDIPs,
            curve: EASE_OUT_ANIMATION,
            duration: 200
          }
        },
      })
      view.on('close', () => {
        getRootLayout().close(view)
      })
      view.on('dataChanged', (r) => {
        getRootLayout().close(view).then(() => {
          this.data = r.data
          this.displayedImages = {data: this.data, type: 'add'}
        })
      })
      view.on('unloaded', r => {
        this.dialogMounted = false
      })
    }
  }
}
</script>

<style scoped>
</style>
