<template>
    <Page actionBarHidden="true">

      <RootLayout>
        <DocumentManagement/>
      </RootLayout>
    </Page>
</template>

<script>
  import DocumentManagement from "~/components/DocumentManagement";
  export default {
    components: {DocumentManagement},
    data() {
      return {
        text: null,
      }
    },
    computed: {
      returnedValue: {
        get() {
          return this.text
        },
        set(newVal) {
          if(newVal && newVal.length > 3) {
            let temp = newVal.replaceAll('.', '')
            console.log(Number(temp).toLocaleString('de-DE'))
            this.text = temp.toLocaleString('de-DE')
          } else {
            this.text = newVal
          }
        }
      }
    }
  };
</script>

<style scoped lang="scss">

</style>
