<template>
  <Page actionBarHidden="true">
    <Button text="Naviage back" @tap="navBack"/>
  </Page>
</template>

<script>
import Home from "~/components/Home";

export default {
  name: "SamplePage",
  methods: {
    navBack() {
      this.$navigateTo(Home, {
        clearHistory: true
      })
    }
  }
}
</script>

<style scoped>

</style>
