<template>
  <GridLayout backgroundColor="white"
              :rows="'50, 2, *'"
              class="card-overlay"
              verticalAlignment="bottom"
              iosOverflowSafeArea="true"
              :height="height"
  >
    <GridLayout columns="60, *, 60" row="0" class="dialog-header">
      <FlexboxLayout col="1" class="headline2">
        <Label :text="title"/>
      </FlexboxLayout>
      <GridLayout col="2" class="close" @tap="close">
        <Label text="close" class="action-text"/>
      </GridLayout>
    </GridLayout>
    <slot :data="data"/>
    <Label class="spacer" row="1"/>
  </GridLayout>
</template>

<script>
import {screen} from "@nativescript/core/platform";
export default {
  props: ['data'],
  name: "SlotDialog",
  data() {
    return {
      title: null,
      switchedCancelIcon: false
    }
  },
  watch: {
    data: {
      handler(state) {
        console.log(state)
      }
    }
  },
  methods: {
    close() {
      this.$emit('close')
    }
  },
  computed: {
    height () {
      return screen.mainScreen.heightDIPs - 90
    },
  }
}
</script>

<style scoped>

</style>
