@import '@nativescript/theme/core';
@import '@nativescript/theme/default';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fab {
  font-family: 'Font Awesome 5 Brands', 'fa-brands-400';
  font-weight: 400;
}

.fas {
  font-family: 'Font Awesome 5 Free', 'fa-solid-900';
  font-weight: 900;
}

.far {
  font-family: 'Font Awesome 5 Free', 'fa-regular-400';
  font-weight: 400;
}

.camera-wrapper .footer-wrapper {
  background-color: white;
  padding-left: 20;
  padding-right: 20;
  padding-top: 10;
  border-radius: 30;
  height: 60;
}
.camera-wrapper .footer-wrapper > * {
  background-color: grey;
  border-radius: 50%;
  vertical-text-alignment: center;
  text-align: center;
  color: white;
  height: 40;
  width: 40;
}
.camera-wrapper .footer-wrapper .camera {
  background-color: green;
  border-radius: 50%;
  vertical-text-alignment: center;
  text-align: center;
  color: white;
  height: 50;
  width: 50;
}
